nav#nav {
	height: 60px;
	line-height: 60px;
	position: absolute;
	min-width: 100%;
	background-color: #628599;
	-webkit-box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.75); }
	
}

nav#nav .container {
	overflow: visible;
}

nav#nav .container .col {
	margin: 0 15px;
}

nav#nav .container .col:first-child {
	margin-left: 0;
}

nav#nav .container .col:last-child {
	margin-right: 0;
}

nav#nav .container a {
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

nav#nav .container .dropdown {
	position: relative;
	float: right;
}

nav#nav .container .dropdown-menu a {
	color: #5b5a5a;
}

nav#nav .container #help {
	font-size: 30px;
	text-decoration: none;
}

nav#nav .container #user {
	text-decoration: none;
	font-size: 24px;
	line-height: 63px;
	position: relative;
}

nav#nav .container #user span#notification_count {
	font-size: 8px;
	line-height: 11px;
	height: 12px;
	min-width: 12px;
	text-align: center;
	position: absolute;
	z-index: 5;
	top: 10px;
	right: 0;
	display: block;
	background-color: #f00;
	border: 1px solid #f00;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}