/* @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900italic,900); */

.general_documents h4, .episode h4 {
	margin: 1px 0 !important;
}

.admintab {
  height: 60px !important;
}
.draggable {
	cursor: pointer;
}

.sortableItemPanel {
	border: 1px dashed rgba(241, 148, 125, 0.83);
	height: 100%;
	display: inline-block;
	padding: 12px;
}

.sortableItemPanelEpisode {
	border: 1px dashed rgba(241, 148, 125, 0.83);
	height: 100%;
	display: inline-block;
	padding: 12px;
}

#dragInfo {
	color: #BDBDBD;
	padding: 30px;
	text-align: center;
}

#dragInfoEpisode {
	color: #BDBDBD;
	padding: 30px;
	text-align: center;
}

.designation {
	font-size: 10.5pt;
	padding-bottom: 2px;
	display: inline-block;
}

.definition {
	display: block;
	font-size: 9.5pt;
}

.urn {
	display: none;
	text-align: right;
	float: right;
}

.formversion {
	display: inline-block;
	text-align: right;
	float: right;
}

.detailLink {
	display: table-cell;
}

.formItem {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(234, 239, 245, 0.71);
  border-color: rgba(235, 207, 200, 0.55) rgba(235, 207, 200, 0.55) rgba(235, 207, 200, 0.55) rgba(245, 108, 74, 0.81);
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 1px 3px;
  color: inherit;
  cursor: pointer;
  font-weight: 200;
  margin-bottom: 5px;
  padding: 15px 0;
}

.panel-body {
  margin-bottom: 20px;
  padding: 15px;
}
