html {
  height: 100%; }

body {
  min-height: 100%; }

body {
  background-color: #ddd;
  position: relative;
  font-family: 'Lato', sans-serif;
  color: #5b5a5a; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4 {
  margin: 0; }

table {
  border-collapse: collapse;
  background-color: #628599; }
  table tr td {
    background-color: #fff;
    border: 1px solid #628599;
    border-bottom: 5px solid #628599;
    padding: 10px; }

hr {
  border-top: 1px solid #c1c0c0;
/*   margin-top: 60px;  */
  margin-top: 20px;
}

span.counter {
  font-style: italic;
  font-weight: 300; }

.col {
  display: inline-block;
  float: left; }

.float-left {
  float: left; }
  .float-left.first {
    margin-right: 10px; }

.float-right {
  float: right; }

.button {
  display: inline-block;
  background-color: #cecdcd;
  border: 0 none;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #5b5a5a;
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 12px;
  font-style: italic;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .button:hover {
    background-color: #d3d2d2;
    text-decoration: none; }
  .button.save {
    background-color: #628599;
    margin: 0 10px;
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px; }
    .button.save:hover {
      background-color: #809dae; }
  .button.cancel {
    background-color: #f99; }
    .button.cancel:hover {
      background-color: #ffffb3; }

.table {
  display: table-row;
  width: 100%; }

#patients {
  padding-top: 20px; }
  #patients .container {
    border-top: 1px solid #ddd;
    padding-top: 20px; }
  #patients h2 {
    color: #fff;
    display: table;
    float: left;
    margin-right: 30px; }
  #patients .actions a {
    margin: 0 20px;
    float: left; }
  #patients .actions .dropdown {
    float: right; }
  #patients table {
    width: 100%;
    margin-top: 25px; }
    #patients table a.order {
      color: #5b5a5a; }
    #patients table tr:hover {
      cursor: pointer; }
      #patients table tr:hover td {
        background-color: #e6e6e6; }

#episode-slider {
  min-height: 100px; }
  #episode-slider .tab {
    display: block;
    min-width: 160px;
/*     height: 80px; */
    min-height: 60px;
    font-size: 18px;
    border: 0 none;
    border-top: 3px solid #ccc;
    background-color: #fff;
    margin: 20px;
    float: left;
    color: #5b5a5a;
    padding: 2px 5px; }
    #episode-slider .tab span {
      display: block; }
    #episode-slider .tab .date {
      font-weight: bold;
      font-size: 20px; }
    #episode-slider .tab .state {
      color: #8e8d8d; }
    #episode-slider .tab:first-child {
      margin-left: 0; }
    #episode-slider .tab:last-child {
      margin-right: 0; }
    #episode-slider .tab.slick-center {
      border-color: #f8b35c;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75); }

#patient, #profile {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
/*   position: absolute; */
  z-index: 20;
  background-color: #ddd;
/*   top: 60px; */
/*   padding: 25px 0; */
/*   padding-bottom: 0px; */
  padding: 85px 0 0 0;
/*   -webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.75); */
/*   -moz-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.75); */
/*   box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.75);  */
}

#episode {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 20;
  background-color: #ddd;
  top: 60px;
  padding: 25px 0 0 0;
  -webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.75); }

#profile .container h1 {
  margin: 20px 0; }
#profile .container h2.name {
  font-weight: bold;
  font-size: 40px; }
#profile .container img {
  width: 100%; }
#profile .container p {
  margin: 25px 0 40px 0;
  font-size: 24px; }
  #profile .container p.job {
    font-size: 16px; }
#profile .container .row.tables {
  font-size: 18px; }

.general_documents h3, .episode h3 {
/*   margin-bottom: 25px;  */
}
.general_documents h4, .episode h4 {
  margin: 20px 0; }
.general_documents textarea, .episode textarea {
  width: 100%;
  min-height: 100px; }
.general_documents input[type=radio], .general_documents input[type=checkbox], .episode input[type=radio], .episode input[type=checkbox] {
  margin: 0 5px; }
.general_documents .left, .episode .left {
  float: left;
  width: 160px;
  max-width: 160px;
  display: table-cell; }
.general_documents .right, .episode .right {
  width: 100%;
  vertical-align: top;
  display: table-cell;
  background-color: #ccc;
  padding: 10px;
  padding-bottom: 0px;
  min-height: 100%;
  min-height: 100%; }
.general_documents table, .episode table {
  background-color: #ddd;
  padding: 225px 0; }
  .general_documents table td, .general_documents table th, .episode table td, .episode table th {
    background-color: #f3f3f3;
    border: 0 none;
    padding: 2px; }
.general_documents table[role=grid], .episode table[role=grid] {
  background-color: #ddd; }
  .general_documents table[role=grid] td, .general_documents table[role=grid] th, .episode table[role=grid] td, .episode table[role=grid] th {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #f3f3f3; }
    .general_documents table[role=grid] td input, .general_documents table[role=grid] th input, .episode table[role=grid] td input, .episode table[role=grid] th input {
      width: 100%;
      border: 0 none;
      background: #fff;
      padding: 5px; }
.general_documents .error, .episode .error {
  color: #f33;
  font-weight: bold; }
.general_documents .tab, .episode .tab {
  position: relative;
  border-left: 3px solid #628599;
  background-color: #fff;
  height: 90px;
  margin-bottom: 5px;
  padding: 10px; }
  .general_documents .tab.active, .episode .tab.active {
    background-color: #ccc; }
    .general_documents .tab.active h4, .episode .tab.active h4 {
      font-size: 1.6em;
      font-weight: bold; }
  .general_documents .tab .state, .episode .tab .state {
    position: absolute;
    bottom: 10px;
    color: #9b9a9a;
    display: block; }

.episode {
  background-color: #f3f3f3;
  min-height: 100%;
  height: 100%;
  padding: 25px 0 100px 0;
  position: relative;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.55); }
  .episode .triangle-with-shadow {
    z-index: 120;
    top: -100px;
    left: 50%;
    margin-left: -60px;
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden; }
  .episode .triangle-with-shadow:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #f3f3f3;
    transform: rotate(45deg);
    /* Prefixes... */
    top: 75px;
    left: 25px;
    -webkit-box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.55); }

.abschnitt {
  background-color: #f3f3f3;
  padding: 10px;
  margin: 25px 0; }


.sticky_bar {
  height: 55px;
  position: relative; 
  padding: 10px;
  margin: 0; }
  .sticky_bar.sticky_bottom {
    /*width: 53%;*/
/*     position: fixed; */
    bottom: 0;
    z-index: 999;
    background-color: #ccc;
    margin: 0;
  }
  
/* .sticky_bar { */
/*   height: 55px; */
/*   position: relative; } */
/*   .sticky_bar h3 { */
/*     float: left; } */
/*   .sticky_bar.sticky_top { */
/*     width: 100%; */
/*     position: fixed; */
/*     top: 0; */
/*     z-index: 999; */
/*     background-color: #ddd; } */

/* div.sticky_spacer { */
/*   height: 55px; */
/*   min-height: 55px; */
/*   display: none; } */

input.search {
  border: 1px solid #fff;
  height: 30px;
  line-height: 30px;
  padding: 3px;
  width: 250px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  -webkit-appearance: none; }
  input.search:focus {
    border-color: #ccc; }

.episode .sticky_bar.sticky_top {
  background-color: #f3f3f3; }

.episode .sticky_bar.sticky_bottom {
  background-color: #ccc; }
  
h3.clearfix {
  width: 100%;
  display: block; }
